* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 40px;
  background-color: rgb(152, 192, 192);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

#userguess {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 2px solid #333;
  border-radius: 8px;
}

.start {
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

#score {
  margin-top: 10px;
  font-size: 18px;
  color: blue;
}
